/* =========================
   PAGE LOGIN (CENTRÉE)
========================= */
.login-page {
 margin-top: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* =========================
   CONTAINER CENTRAL
========================= */
.login-container {
width: 100%;
    max-width: 60%;
    height: 700px;

  display: grid;
  grid-template-columns: 1fr 1fr;

  background-color: #f5f1ea;
  border-radius: 24px;
  overflow: hidden;

  box-shadow: 0 30px 80px rgba(0, 0, 0, 0.55);
}

/* =========================
   PARTIE GAUCHE (VISUEL)
========================= */
.login-left {
  background-image: url("../assets/stars.jpg");
  background-size: cover;
  background-position: center;

  color: white;
  padding: 3rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.orange-t{
    color: #f6a52a;
}
.left-title-l{
    font-size: 1.2rem;
    text-align: right;
}

.img-left-c img{
    height: 180px;
}
.login-left h2 {
  font-size: 2.4rem;
  font-weight: 800;
}


.login-left p {
  font-size: 1.2rem;
  opacity: 0.9;
}

/* =========================
   PARTIE DROITE (FORM)
========================= */
.login-right {
  padding: 3rem 7.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-right h1 {
  font-size: 2.2rem;
  margin-bottom: 2rem;
  font-weight: 700;
}

.login-right label {
  font-size: 1rem;
  text-align: left;
  margin-bottom: 0.3rem;
}

.login-right input {
  height: 38px;
  border-radius: 8px;
  border: 2px solid #222;
  padding: 0 0.7rem;
  margin-bottom: 1rem;
}

/* =========================
   CHECKBOX
========================= */
.login-checkbox {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 0.95rem;
  margin-bottom: 1.5rem;
}

/* =========================
   BOUTON
========================= */
.login-btn {
  background-color: #f6a52a;
  border: none;
  border-radius: 8px;
  padding: 0.6rem;
  font-weight: 600;
  cursor: pointer;
}

/* =========================
   RESPONSIVE FIX LOGIN / REGISTER
   (LE FORM RESTE, LE LEFT DISPARAÎT)
========================= */

/* LAPTOP 1024px ↓ */
@media (max-width: 1024px) {
  .login-container {
    grid-template-columns: 1fr;
    max-width: 420px;
    height: auto;
  }

  .login-left{
    display: none;
  }

  .login-right {
    padding: 2.5rem 2rem;
  }
}

/* TABLET 768px ↓ */
@media (max-width: 768px) {
  .login-container,
  .register-container {
    max-width: 380px;
  }

  .login-right {
    padding: 2.2rem 1.8rem;
  }
}

/* MOBILE L 425px ↓ */
@media (max-width: 425px) {
  .login-container {
    width: 100%;
    max-width: 100%;
    border-radius: 18px;
  }

  .login-right {
    padding: 2rem 1.4rem;
  }
}

/* MOBILE M / S 375px ↓ */
@media (max-width: 375px) {
  .login-right h1 {
    font-size: 1.6rem;
  }

  .login-checkbox {
    font-size: 0.8rem;
  }
}
